.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
 // height: 300px; /* Should be removed. Only for demonstration */
}

.grid-container {
  display: inline-grid;
  height: 70vh;
    grid-template-columns: auto auto;

    // padding: 10px;
    width: -webkit-fill-available;
    //height: -webkit-fill-available;
    //margin: 10%;
  //  margin-top: 20%;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 17.5vh;


}
.sub-container{
     display: grid;
                grid-template-rows:  auto 20vh;
                grid-template-columns: none;
}

.sub-container2{
     display: grid;
                grid-template-rows: 35vh auto auto;
                grid-template-columns: none;
}
.download{

    text-align: left !important;
   padding-left: 95px;
    margin-top: 30px;
}
.grid-item {


  font-size: 1rem;
  text-align: center;
}
h2{
    font-size: 1.5rem;
}



@media only screen and (max-width: 1300px) {
    .grid-container{
               display: grid;
                grid-template-rows: 50vh auto 20vw;
                grid-template-columns: none;
    }
    .viewer{
            float: none !important;
            max-height: 50vh !important;
    }
    .download{
        text-align: center !important;
        padding-left: 0;
          margin-top: 10px;
    }
    .contact{
        padding: 5px;
    }
    .remove{
        display: none;
    }
    .load{
         display: none !important;
    }

        #about{
            display: none !important;
        }

}
.viewer{
    display: inline-block;
    max-height: 70vh;
    max-width: fit-content;
    overflow-y: auto;
    float: left;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
   .pdf{
   display: none;
   }
     .download{
           display: none;
    }
}

@media only screen and (min-width: 1900px) {
    .grid-item{

        #profilePic{
            height: 100px !important;
            margin-bottom: 10px
        }
        p{
         font-size: 0.9rem !important;
         margin-left: 45px !important;
         margin-right: 45px !important;
        }

    }
}
