
<div class="grid-container">
<div class="grid-item pdf">
  <pdf-viewer
     [show-all]="true"
    
      [src]="pdfSrc" 
      [render-text]="true"
      class='viewer'
  ></pdf-viewer>

</div>  
       
<div class="grid-item contact">    
   📯 <br>
   Email: irawatt@gmail.com<br>
   <a href="  https://stackoverflow.com/users/10053793/ira-jw">StackOverlow</a><br>
   <a href="  https://stackoverflow.com/users/10053793/ira-jw">LinkedIn</a><br>
   <a href="  https://github.com/wisespira">GitHub</a><br>
   <a href="  https://github.com/wisespira/Website">Website Repo</a><br><br>
   <div class="remove"> Developed in 🛸<br>
    <span style="color: grey">angular7, JQuery, Bootstrap, three.js, and Firebase</span>
   <br><br> Copyright ©️<br>
     <span style="color: grey">Ira Watt | 2019</span></div>
    
<!--    
   <form>

   name 
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name">
  </div>

   email 
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email">
  </div>

   message 
  <div class="field">
    <textarea class="textarea" name="message" placeholder="What's on your mind?"></textarea>
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>

</form>-->
</div>
    <div class="grid-item download"><a href="assets/Ira Watt Resume.pdf" download>
  📝 Download Resume 
    </a></div> 
</div>