.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
 // height: 300px; /* Should be removed. Only for demonstration */
}

.grid-container {
  display: inline-grid;
  
    grid-template-columns: 60vw auto;
 
    // padding: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    //margin: 10%;
  //  margin-top: 20%;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 17.5vh;
 

}

.grid-item {


  font-size: 20px;
  text-align: center;
}


@media only screen and (max-width: 1200px) {
    .grid-container{
               display: grid;
                grid-template-rows: 60vh 30vw;
                grid-template-columns: none;
    }
    .viewer{
            float: none !important;
            max-height: 50vh !important;
    }
}
.viewer{
    display: inline-block;
    max-height: 70vh;
    max-width: fit-content;
    overflow-y: auto;
    float: left;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
   .pdf{
   display: none;
   }
}