<div class="contact" >
<div class="page1">
<img src="assets/profile.jpg" style="height: 110px;border-radius: 50%; border-width: 3px; margin: 10px; margin-top: 50%;   border-style: solid;
  border-color: cornflowerblue;" ><br>
<h1 style="margin: 0px">Ira Watt </h1><h2>Software Developer</h2>
<p>(+44)7508 116845 | irawatt@gmail.com </p>
<hr>

<div class="grid-container">
  <div class="grid-item">
    <a href="  https://stackoverflow.com/users/10053793/ira-jw"><img src="assets/stack-overflow.svg" width="30" ></a>
  </div>
  <div class="grid-item">
    <a href="  https://github.com/wisespira"><img src="assets/github.svg" width="30" ></a>
  </div>
  <div class="grid-item">
    <a href="  https://www.linkedin.com/in/ira-watt/"><img src="assets/linkedin.svg" width="30" ></a>
  </div>

</div>





</div>
<div class="page1">
<h2 style="">About Me</h2>
<p>I've been actively developing products for over 3 years in the northeast of England. I interned for 14 months at NUIT developing an assortment of projects for them over that period. I'm currently finishing my final year at Newcastle University after achieving 83.9% in my second-year whilst working on multiple side projects in my own time. </p>
<hr>

<h2 style="">Education</h2>
<p><b>Newcastle University - Computer Science with Industrial Placement BSc Honours (1.1)                     2016-2020</b></p>
<p>Acted as lead developer in team project building an Android app. The app aimed to draw attention to pollution in the local area showcasing data from the Urban Observatory API. Active in with the OTC (Officer Training Core) linked to the university. Ran with and lead OTC running club on training sessions.   </p>
<hr>
<h2 style="">Work Experience</h2>
<p><b>Applications Developer Placement - NUIT			                                     2018-2019 </b>	</p>
<p>Worked to develop and deploy the Newcastle University mobile (Ionic Framework) and desktop apps (.NET).
  Lead developer on the University's new scanner attendance web services and surrounding infrastructure. Worked
  in collaboration with University partners, most notably on the Microsoft SLATE project. Within this project I
  developed applications for the Microsoft Teams platform requiring extensive use of Azure.  </p>
  <p><b>Cinema Host – Odeon				                                                                                    2017-2018</b>	</p>
  <p>Helped in cinema operations by maintaining a safe and fun environment. Worked as part of a distributed team with strict deadlines. Communication with customers and team members was critical in the role.   </p>
<hr>


<h2 style="">Projects</h2>
<p><b>WebGL Gallery – (React, WebGL)				                                                               2020-Present</b>	</p>
<p>React App to host my WebGL graphics whilst learning the API.</p>
  <p><b>Algo2k - (PWA, Node.js, Python)                                                                                                                        2019-2020</b>	</p>
  <p>A trading strategy backtesting services developed as part of my dissertation. The PWA, hosted on Firebase, takes Python ‘strategy’ code uploading it to an Express.js server which runs performance test returning performance metrics back to the user. </p>

  <p><b>Web Portfolio - (angular7, JQuery, Bootstrap, three.js, and Firebase)                                                      2019-2019</b>	</p>
  <p>Showcases all work to date, the PWA was developed with a multitude of libraries and hosted on Firebase. It was my first attempt at creating interactive and dynamic graphics for a browser, achieved with use of Three.js. Full version is available on desktop, a minimalist version on mobile. </p>
    <p><b>Perceptron App – (ionic 3, p5js) 	   			                                                                   2018</b>	</p>
    <p>Simple App designed to demonstrate basic machine learning concepts using the p5js graphics library. </p>
<hr>

<h2 style="">Proficiencies</h2>
<p>PHP, Python, Java, JavaScript, Typescript, C#, R, SQL, SCSS, HTML5, XML, P5js, Three.js, Angular7, Ionic3, Ionic4, WordPress, Apache, MySQL, Firebase, Android, Node.js, Microsoft Azure, WPF (.NET), JQuery, Bootstrap, PM2, Express.js</p>










</div>

<!-- <div class="page1">
           <h2 >Contact me</h2>
           <form action="https://formspree.io/jrandomhacker@example.com"
                 method="POST">
               <label for="contact-form-name">Your Name</label>
               <input type="text" name="name" id="contact-form-name" placeholder="">
               <label for="contact-form-email">Your Email Address</label>
               <input type="email" name="_replyto" id="contact-form-email" placeholder="">
               <label for="contact-form-message">Message</label>
               <textarea name="message" id="contact-form-message"></textarea>
               <input type="submit" value="Send message">
           </form>



       </div>
       </div> -->
