.navbar-expand-lg .navbar-nav{
    margin-left: auto;
}
.nav-link{
        padding-top: 0.5rem;
    padding-right: 2rem !important;
    padding-bottom: 0.5rem;
    padding-left: 2rem !important;
}
.navbar-brand{
margin: auto;
font-size: 1.5rem;

}


.navbar-nav {
    float: right;
    text-align: -webkit-right;

}
@media only screen and (max-width: 991px) {
   .navbar-brand{
            padding-left: 56px;
    }
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .navbar-brand{
            padding-left: 56px;
    }
    
    
}