<nav class="navbar navbar-expand-lg navbar-light bg-light" style="
    background-color: transparent !important;
    position: absolute;
">
  <a class="navbar-brand" href="#Home"><img src="assets\favicon_io\favicon-32x32.png"><img>  Ira Watt | <span style="
    color: grey;
    font-size: 1.0rem;
">Software Developer</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#Home">Home 🏠<span class="sr-only">(current)</span></a>
        <a  *ngIf="IEbrowserCheck" class="nav-item nav-link active" href="#Skills">Skills 🕺<span class="sr-only">(current)</span></a>
          <a  *ngIf="IEbrowserCheck" class="nav-item nav-link active" href="#Experience">Experience ✨<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#Resume+Contact">Resume and Contact 📧<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
