.timeline{
    overflow-y: auto;max-height: 80vh;max-width: 80vw;margin: auto;
    
}
.primary{
    background: #a0a;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
   .timeline{
    max-height: 80vh !important;
    
}
}