
<div class="timeline">
    <h2 style="
    text-align: center;
    display: block;
">Experience Timeline</h2>
<mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
  <mgl-timeline-entry *ngFor="let entry of entries; let i = index;" (expand)="onExpandEntry($event, i)">
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div>{{entry.header}}</div>
    </mgl-timeline-entry-header>
      <mgl-timeline-entry-content *ngIf="entry.content">
      <div>
        <div>{{entry.content}}</div>
      </div>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-dot [style.background-color]="entry.content ?entry.colour:'' "
                            [class]="color ? 'primary' : 'accent'" 
                            [size]="size"
                            (click)="onDotClick($event)"></mgl-timeline-entry-dot>
    <mgl-timeline-entry-side>{{entry.date}}</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>
</div>