<app-navbar *ngIf="!phone"></app-navbar>
<app-phone-page *ngIf="phone"></app-phone-page>
<div *ngIf="!phone">
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
<div class="section">
   <div #rendererContainer></div>
   <div class="css-typing">
     <!-- <p class="garry">
         Welcome to the Website 🎉
      </p>-->
      <p class="garry">
         <!--Please do <b>not</b> hit the balls !!-->
         Welcome ✋ to my Portfolio Website
      </p>
      <p class="garry">
       My name is Ira, I'm a developer 🧙 from Newcastle, UK
      </p>
      <!-- &nbsp;	-->
      <p class="garry">
        <!-- (ﾉ◕ヮ◕)ﾉ*:・ﾟ✧ <i class="pointers" (click)="addBall()"style="color: red;">+</i><i *ngIf="!phone" class="pointers"(click)="minusBall()"style="color: blue;">-</i> -->
      </p>
   </div>
   <div class="warning blink_me"><span style="color: red;">WARNING</span> do not hit the balls</div>
  <!-- <div class="butttons"><button type="button" class="btn btn-outline-danger">+</button><button type="button" class="btn btn-outline-info">-</button> </div>-->
</div>
<div class="section">
   <app-piechart class="fadein" *ngIf="pagesShow.Skills"></app-piechart>
</div>
<div class="section">
   <app-timeline *ngIf="pagesShow.Experience"></app-timeline>
</div>
<div class="section">
   <app-resume-contact class="fadeinfast2" *ngIf="pagesShow.Resume"></app-resume-contact>
</div>
</div>
</div>
<router-outlet></router-outlet>
