<app-navbar></app-navbar>
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
<div class="section">
   <div #rendererContainer></div>
   <div class="css-typing">
      <p>
         Welcome to my Website 🎉
      </p>
      <p>
         Please do <b>not</b> hit the balls !!
      </p>
      <p>
         &nbsp;	(ﾉ◕ヮ◕)ﾉ*:・ﾟ✧
      </p>
   </div>
</div>
<div class="section">
   <app-piechart></app-piechart>
</div>
<div class="section">
   <app-timeline></app-timeline>
</div>
<div class="section">
   <app-resume-contact></app-resume-contact>
</div>
</div>
<router-outlet></router-outlet>