<div class="whole" style="
    display: flex;" >


<!-- <div (click)="next(-1)" style="
    margin: auto;
">
  <
</div> -->
<div class="frame" [ngClass]="{'fadeout': fade}">
<div class="top ">
<img class="topImg " src={{src}} alt="">
</div>
<div class="bottom">
   <div class="text">

    <p  style="margin-bottom: 0 !important;"><b>What I'm up too: </b> {{text}} <a href="https://webglgallery.firebaseapp.com/" target="_blank">Link!</a></p> </div>
</div>
</div>
<!-- <div style="margin: auto;" (click)="next(1)">
  >
</div> -->

</div>
