<div style="display: block;max-width: 1500px;">
  <canvas baseChart 
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="pieChartColors"
              [legend]="false"

              (chartClick)="onChartClick($event)"
              ></canvas>
    
    
</div>
<div style="
    position: absolute;
"  [innerHTML]="infoOnSelect"></div>
<!--style="position: absolute;margin-left: auto;margin-right: auto;/* left: 0; */right: 10%;top: 10%;"-->