h2{
    text-align: -webkit-center;
}
.infoBox{
   font-size: 12px !important;
    padding-left: 0px !important;
     // overflow-y: auto;
}

.dropdown{
    display: inline-block;
    padding-left: 4px;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: auto 30vw;
    // padding: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    //margin: 10%;
  //  margin-top: 20%;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 17.5vh;
    max-height: 70vh;

}

.grid-item {

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h4{
   font-size: 1.0rem; 
}

.blink_me_slower {
  animation: blinker 4s linear infinite;
}
.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@media only screen and (max-width: 991px) {
    .grid-container{
               display: grid;
                grid-template-rows: 50vh 20vw;
                grid-template-columns: none;
    }
    .grid-item{
           display: contents;
               margin: auto;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .grid-container{
            display: list-item !important;
        
    }
    .infoBox{
            max-height: 30vh !important;
            padding: 20px !important;
    }
    .scrolll{
            max-height: 30vh !important;
    }
    .pie{
          margin: auto;  
    }
}

.middle{
        left: -50px !important;
}

.dropdown-item{
       cursor: pointer !important; 
}





img{
        border-radius: 5%;
        width:50%; /* you can use % */
        height: auto;
}

@keyframes slidein {
    0%   { opacity: 0; }
  100% { opacity: 1; }
}
.note {
      
    overflow-x: hidden;
    animation-name: slidein;
    animation-duration: .9s;
    display: block;
   
}
.scrolll{
    overflow-y: auto; 
    max-height: 60vh;
    padding: 20px;
}