h2{
    text-align: -webkit-center;
}
.infoBox{
   font-size: 12px !important;
    padding-left: 0px !important;
        overflow-y: auto;
}




.grid-container {
  display: inline-grid;
  grid-template-columns: auto 30vw;
    // padding: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    //margin: 10%;
  //  margin-top: 20%;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 17.5vh;
 

}

.grid-item {

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h4{
   font-size: 1.0rem; 
}
.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .grid-container{
            display: list-item !important;
        
    }
    .infoBox{
            max-height: 30vh !important;
            padding: 20px !important;
    }
}