<div class="grid-container">
   <div class="grid-item pie" style="display: block;max-width: 70vw; ">
      <div style="display: block">
          <div><div style=" text-align: center; display: inline-block; padding-left: 45px;+" [innerHTML]="title"></div>  <div class="dropdown">
  <button class="btn dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  
  </button>
  <div class="dropdown-menu middle" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="changeGraph(0)">Skills by project</a>
    <a class="dropdown-item" (click)="changeGraph(1)">Skills by language</a>
    <a class="dropdown-item" (click)="changeGraph(2)">Soft skills+training</a>
  </div>
</div></div>
         <canvas baseChart 
         [data]="doughnutChartData"
         [labels]="doughnutChartLabels"
         [chartType]="doughnutChartType"
         [colors]="pieChartColors"
         [legend]="false"
         (chartClick)="onChartClick($event)"
         ></canvas>
      </div>
     
   </div>
   <div class="grid-item infoBox"  >
     
     
         <div  class="scrolll"> <h2 *ngIf="!selectedItem" class="blink_me">Select a slice...</h2>
      <h2>{{selectedItem}}</h2>
      <br>
      <div *ngFor="let proj of infoOnSelect; index as i" class="note">
   
         <hr>
         <h4 style="font-size: 1.25rem">&#8226; {{proj.title}}</h4>
         <p style="font-size: 1.0rem">{{proj.body}}<span class="blink_me_slower" *ngIf="proj.giff&&!proj.showGiff" style="color: blue; cursor: pointer;" (click)="showMore(i)"> show more...</span>
         <span *ngIf="proj.giff&&proj.showGiff"   style="color: blue; cursor: pointer;" (click)="showMore(i)"> show less...</span></p>
         <div *ngIf="proj.giff&&proj.showGiff" class="note"><img src={{proj.giff}} ></div>
      </div>
      </div>

     </div>
</div>
<!--style="position: absolute;margin-left: auto;margin-right: auto;/* left: 0; */right: 10%;top: 10%;"-->
<!--  <div style="display: inline-block">-->
<!--     ▶	&#8592;	&#8594;&#25B6;-->