/* You can add global styles to this file, and also import other style files */
@import url(~fullpage.js/dist/fullpage.min.css);
@import '~bootstrap/dist/css/bootstrap.min.css';
canvas{
  display: block;
}
.header{
    
    font: unset;
    background: #fff;
    position: absolute;
    bottom: 100px;
    left: 100px;
    padding: 20px;
    font-size: 100px;
    border: 6px solid black;
}

.chart{
       height: 60vh;
    width: 60vh;
    position: relative;
    top: 50%;
   
   
    cursor: hand;
    cursor: pointer;
    filter: grayscale(60%); 
    
}
.navbar{
    position: absolute;
    width: -webkit-fill-available;
    z-index: 9999;
}